<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.order_food_server">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Order_food_server"
        tools:replace="android:theme">
        <activity android:name=".IncomeDetail"></activity>
        <activity android:name=".InCome" />
        <activity android:name=".ShipperManagement" />
        <activity android:name=".OrderDetail" />

        <service
            android:name=".Service.ListenOrder"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".OrderStatus_Page" />
        <activity android:name=".FoodList" />
        <activity
            android:name=".Home_page"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.Order_food_server.NoActionBar" />
        <activity android:name=".Sign_In_Page" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>